@charset "utf-8";
$primary: #1f8633;
$body-background-color:hsl(0,0%,21%);
$text: #ffffff;
$text-light: $text;
$text-strong: $text;
$scheme-main: hsl(0, 0%, 14%);
$scheme-main-bis: #29a040;
$navbar-item-hover-color: $text;
$navbar-item-active-color: $text;
$navbar-item-active-background-color: $scheme-main-bis;
$link: $scheme-main-bis;
$link-hover: #29AF43;
$footer-background-color: $scheme-main;
$footer-padding: 1rem 1.5rem;
// @import "../node_modules/bulma/bulma.sass";
@import "../node_modules/bulma/sass/utilities/_all.sass";
@import "../node_modules/bulma/sass/base/_all.sass";
@import "../node_modules/bulma/sass/layout/_all.sass";
@import "../node_modules/bulma/sass/grid/columns.sass";
@import "../node_modules/bulma/sass/components/card.sass";
@import "../node_modules/bulma/sass/components/navbar.sass";
@import "../node_modules/bulma/sass/elements/box.sass";
@import "../node_modules/bulma/sass/elements/button.sass";
@import "../node_modules/bulma/sass/elements/container.sass";
@import "../node_modules/bulma/sass/elements/title.sass";
@import "../node_modules/bulma/sass/elements/icon.sass";
@import "../node_modules/bulma/sass/elements/image.sass";

